<!DOCTYPE html>
<html>
<head>
  <title>AuthDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>
    <% if @current_user  %>
      Hoşgeldin <b><%= @current_user.username %></b> |
      <%= link_to "Çıkış", logout_url %>
    <% else %>
      Giriş yapmamışsınız |
      <%= link_to "Giriş yap", login_url %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
